@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


  /* header related style */
  .header{
    background-image: linear-gradient(to bottom, #020202, #0e0e0f, #171718, #1d1e20, #242528, #242528, #252427, #252427, #1e1d1f, #171617, #0e0d0d, #000000);
  }
  /* body related style */
  body{
    background-color: rgba(0, 0, 0, 0.991);
    /* background-color: blueviolet; */
  }
  /* shared style */
.p-1{
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.50);
}

  /* navbar related style */
  .navmain{
    /* border: 2px solid tomato; */
    display: flex;
    padding: 20px 0;
    justify-content:space-between;
    align-items: center;
    max-width: 1060px;
    margin: 0 auto;
  }

  .brand{
    font-size: 2rem;
    font-weight: 700;
    color: rgb(230, 83, 60);
    text-align: left;
  }

  .nav-right{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 38px;
    gap:2rem;
    margin-right: 6px;
    
    
  }

  /* btn related style */
  .primary-btn{
    border-style: none;
    background-color: transparent;
    color: white;
    font-size: 1rem;
}
  .primary-btn-1{
    color: white;
    border-radius: 40px;
    background-color: rgb(230, 83, 60);
    border: none;
    font-size: 1rem;
    padding: 6px 12px;
}
.primary-btn-2{
    background-color:rgb(79, 76, 76);
    border:none;
    border-radius: 40px;
    font-size: 1rem;
    color: white;
    padding: 6px 15px;
}

.img-btn-1{
  padding:  1rem 3rem;
  border: none;
  border-radius: 10px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);;
  margin-left: -48px;
  margin-top: -70px;
  
}
.img-btn-2{
  padding:  1rem 2rem;
  border: none;
  border-radius: 10px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);;
  margin-top: -750px;
  margin-left: 200px;
  position: absolute;
}
#span-1{
  font-size: 25px;
  font-weight: 900;
  color: rgb(187, 176, 176);
}
#span-2{
  color: rgba(239, 237, 232, 0.65);
}


/* Header related style */
.header-main{  
display: flex;
max-width: 1060px;
margin: 0 auto;
justify-content: space-between;
align-items: center;
gap: 100px;

}

.header-title-container>h1{
  color: white;
}

.header-left{
width: 50%;
font-size: 2rem;

}

.header-right{
    width: 50%;

}
.header-main img{
    width: 100%;
}
.header-right img{
  width: 100%;
}

.shape{
font-style: italic;
font-size: 500;
}

/* Change Your Habits related styles started */
.change-container{

  margin-bottom: 100px;
  

}

.container-main{

  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  max-width: 1060px;
  margin: 0 auto;
}
.change-title{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.change-title h1{
  font-size: 3rem;
  font-weight: 900;
  color: white;
}
.card-container{

  display: flex;
  gap: 20px;
}
.card{

  justify-content: center;
  text-align: center;
  font-size: 1rem;

}
.card h3{
  color: white;
}

.img-card{
  border-radius: 50%;
}
/* container end related style */
.container-end{
display: flex;
gap: 160px;
max-width: 1060px;
margin: 0 auto;

border-radius: 18px;
background: rgb(34, 34, 34);
margin-top: 100px;
}
.container-end-title{
justify-content: center;
align-items: center;
text-align:left;
margin-top: 40px;
margin-left: 54px;
margin-bottom: 40px;
}
.container-end-title h1{
  font-size:48px;
  font-weight: 900;
  color: white;
}
.container-end-img-container{
margin-top: 25px;
margin-right: 25px;
margin-bottom: 20px;
}

.container-end .container-end-img-container img{
  border-radius: 20px;
  width: 100%;
}

.primary-btn-01{
  border: none;
  border-radius: 40px;
  font-size:1rem;
  color: white;
  background-color: rgb(230, 83, 60);
  padding: 16px 40px 16px 40px;
}
/* BMI Calculator related style */
.bmi-container{
  background: rgb(34, 34, 34);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;


}


.bmi-2part-container{
  max-width: 1060px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin-bottom: 20px;

}

/* bmi-title related style */
.bmi-title-container h1{
  color: white;
}
.bmi-calculator-chart h1{
  color: white;
}
.calculate-table-right h1{
  color: white;
  margin-bottom: 5px;
}

.bmi-title-container{
justify-content: center;
text-align: center;
margin-bottom: 10px;
}

/* bmi-calculator-chart table related style */
.bmi-calculator-chart{
  width: 45%;
  justify-content: center;
  align-items: center;
}


.bmi-calculator-chart table{
  border-collapse: collapse;
  margin-top: 10px;
}
.bmi-calculator-chart table th,td{
  border: 1px solid black;
  padding:8px;
  text-align: center;
  
}
.bmi-calculator-chart table th{
  color: white;
  font-weight: 180px;
}
.bmi-calculator-chart table td{
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.50);
} 

/* calculate-table-right related style */

.calculate-table-right{
  display: flex;
  flex-direction: column;
  width: 45%;

}

.input-container-main{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 100%;
  
}

.input-container{

  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 8px;
}



.input-container input{
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
}

.bmi-btn-01{
  border: none;
  border-radius: 40px;
  font-size:1rem;
  color: white;
  background-color: rgb(230, 83, 60);
  padding: 8px 20px 8px 20px;
  margin-top: 8px;
}









/* team related style */
.team-container{
max-width: 1060px;
justify-content: center;
align-items: center;
margin: 0 auto;
display: flex;
flex-direction: column;
}
.team-title{
justify-content: center;
align-items: center;
text-align: center;
}
.team-title h1{
  font-size:48px;
  font-weight: 900;
  color: white;
}
.team-card-container{
display: grid;
grid-template-columns:repeat(3,1fr);
gap: 15px;
border-radius: 18px;
background: rgba(255, 255, 255, 0.1);
margin-top: 15px;
padding: 20px 20px 20px 20px;
}

.card{
border-radius: 20px;
}
.card img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* team-btn related style */

.img-name{
background: transparent;
  margin-top: -90px;
  margin-left: -90px;
}
.img-name h4{
  color: white;
  font-weight: 900;
}







@media screen and (max-width:576px) {
  .navmain, 
  .header-main{
    max-width: 80%;
    flex-direction: column;
    justify-content: center;
  }
  .img-btn-2{
      padding:  1rem 2rem;
      border: none;
      border-radius: 10px;
      backdrop-filter: blur(20px);
      background: rgba(48, 48, 48, 0.54);;
      margin-top: -380px;
      margin-left: -10px;
      position: absolute;
  }
  .card-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .container-end{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin-top: 50px;
    }


  .bmi-container{
    background: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  
  }
  .bmi-2part-container{
    max-width: 1060px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-bottom: 20px;
  
  }

  .input-container-main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
  }

  .input-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 8px;
  }





    .team-container{
      /* max-width: 1060px; */
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      display: flex;
      flex-direction: column;

    }
    .team-card-container{
      display: grid;
      grid-template-columns:repeat(1,1fr);
      gap: 15px;
      border-radius: 18px;
      background: rgba(255, 255, 255, 0.1);
      margin-top: 15px;
      padding: 20px 20px 20px 20px;
    }





}




